<div class="loader-page" *ngIf="loader">
	<span>Recuperando Contraseña...</span>
</div>
<section>
	<div class="content-login">

		<div class="text-login">
			<h3>Recuperar contraseña</h3>
		</div>
		<form (ngSubmit)="(f.form.valid && (password.value != passwordConfirmation.value || !passwordConfirmation.valid)) && onSignInSubmit()" #f="ngForm" >

			<div class="alert callout" [hidden]="!errorForm">
    			<p><i class="fi-alert"></i> {{ errorForm }}</p>
  			</div>

			<div class="grid-x">

				<div class="input-field cell small-12">
					<input id="password"
					placeholder="INGRESE LA CONTRASEÑA" 
					type="password"
					required
					name='password' 
					#password="ngModel"
					[(ngModel)]="resetPasswordUser.password" 
					class="validate">
					<span class="form-error is-visible" *ngIf="f.submitted && !password.valid">Campo inválido</span>
				</div>

				<div class="input-field cell small-12">
					<input id="passwordConfirmation"
					placeholder="CONFIRME LA CONTRASEÑA" 
					type="password"
					required
					name='passwordConfirmation' 
					#passwordConfirmation="ngModel"
					[(ngModel)]="resetPasswordUser.passwordConfirmation" 
					class="validate">
					<span class="form-error is-visible" *ngIf="f.submitted && (password.value != passwordConfirmation.value || !passwordConfirmation.valid)">Campo inválido</span>
				</div>


				<div class="cell small-12">
					<button type="submit" 
					class="button expanded" [ngClass]="{'disabled': !(f.valid)}"> RECUPERAR CONTRASEÑA </button>
				</div>

				<div class="cell small-12">
					<a routerLink="/login" class="button expanded" [ngClass]="{'disabled':f.valid}" > REGRESAR </a>
				</div>


			</div>

		</form>	
	</div>
</section>