<div class="loader-page" *ngIf="loader">
	<span>Enviando correo con instrucciones...</span>
</div>
<section>
	<div class="content-login">

		<div class="text-login">
			<h3>Recuperar contraseña</h3>
			<p>Ingresa el correo electrónico con el que te registraste en Bomm	.</p>
		</div>
		<form (ngSubmit)="f.form.valid && onSignInSubmit()" #f="ngForm" >

			<div class="alert callout" [hidden]="!errorForm">
    			<p><i class="fi-alert"></i> {{ errorForm }}</p>
  			</div>

			<div class="grid-x">

				<div class="input-field cell small-12">
					<input id="email"
					placeholder="CORREO DE ACCESO" 
					type="email"
					required
					name='email' 
					#email="ngModel"
					[(ngModel)]="resetPasswordUser.email" 
					class="validate">
					<span class="form-error is-visible" *ngIf="f.submitted && !email.valid">Campo inválido</span>


				</div>


				<div class="cell small-12">
					<button type="submit" 
					class="button expanded" [ngClass]="{'disabled': !(f.valid)}"> RECUPERAR CONTRASEÑA </button>
				</div>

				<div class="cell small-12">
					<a routerLink="/login" class="button expanded" [ngClass]="{'disabled':f.valid}" > REGRESAR </a>
				</div>


			</div>

		</form>	
	</div>
</section>