section{
	background: #1a1a1a;
    height: 100%;
    position: absolute;
    width: 100%;
    color: white;

    h3{
        color: inherit;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }

    p{
        color: inherit;
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
    }

    .content-login{
    	max-width: 700px;
    	width: 100%;
    	position: absolute;
    	right: 50%;
    	bottom: 50%;
    	transform: translate(50%, 40%);

        form{
            max-width: 300px;
            margin: 1.5rem auto;

            label{
                color: inherit;
                font-size: 1rem;
                font-weight: 100;
            }    


            input{
                text-align: center;

                &::placeholder{
                    color: #848282;
                }    
            }

            small{
                display: block;
                text-align: center;
                line-height: 1.2;

                a{
                    color: white;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            .button{
                opacity: 1;
                border-radius: 0;
                font-weight: bold;
                margin-bottom: 0.8rem;
                background-color: #30bb49;

                &:hover{
                    background-color: #247b34;
                }


                &.disabled{
                    background: #000;
                    
                    &:hover{
                        background-color: #313131;
                    }
                }
            }
            
        }

    	
    }
}


@media screen and (max-width: 39.9375em) {
    section{
        padding: 2rem 0.5rem 1rem;
        height: calc(100% - 88px);
        min-height: 540px;

        .content-login{
            position: static;
            transform: none;    
        }
        
        p{
            font-size: 0.9rem;
        }

        
    }
}