@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1, .h1{
	font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6, 
label, p, strong, span{
	font-family: 'Roboto';
	color: #333;
}

p{
    font-weight: 100;
    line-height: 1.3;
}

.text-center{
	text-align: center;
}

.text-center h1, .text-center h2{
	margin: 1rem auto;
}

[type=color], [type=date], 
[type=datetime-local], [type=datetime], 
[type=email], [type=month], [type=number], 
[type=password], [type=search], [type=tel], 
[type=text], [type=time], [type=url], 
[type=week], textarea, select{
	box-shadow: none;
    border-radius: 0;
    padding-left: 1rem;
    color: #525252;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
}

.form-error{
    background: #ef6366;
    color: white;
    padding: 0.5rem;
    margin-top: -0.8rem;
}

.content-video iframe{
    width: 100%;
    height: 100%;
}


.loader-page{
    position: fixed;
    background: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;


}


.loader-page span{
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
}

.loader-page img{
    width: 100px;
    display: block;
}