<section>
	<div class="content-login">

		<div class="text-login">
			<h3>Bienvenido al Bogotá Music Market (BOMM)</h3>
			<p>Si ya tiene una cuenta del BOmm inicie sesión. 
				<br>De lo contrario regístrese para ingresar.</p>
		</div>
		<form (ngSubmit)="f.form.valid && onSignInSubmit()" #f="ngForm" >

			<div class="alert callout" [hidden]="!errorForm">
    			<p><i class="fi-alert"></i> {{ errorForm }}</p>
  			</div>

			<div class="grid-x">

				<div class="input-field cell small-12">
					<input id="email"
					placeholder="CORREO DE ACCESO" 
					type="email"
					required
					name='email' 
					#email="ngModel"
					[(ngModel)]="signInUser.email" 
					class="validate">
					<span class="form-error is-visible" *ngIf="f.submitted && !email.valid">Campo inválido</span>


				</div>


				<div class="input-field cell small-12">
					<input id="password" 
					placeholder="CONTRASEÑA" 
					type="password" 
					required  
					name='password' 
					#password="ngModel"
					[(ngModel)]="signInUser.password" 
					class="validate">
					<span class="form-error is-visible" *ngIf="f.submitted && !password.valid">Campo inválido</span>


				</div>

				<div class="cell small-12">
					<button type="submit" 
					class="button expanded" [ngClass]="{'disabled': !(f.valid)}"> INICIAR SESIÓN </button>
				</div>

				<div class="cell small-12">
					<a routerLink="/crear_cuenta" class="button expanded" [ngClass]="{'disabled':f.valid}" > REGISTRO </a>
				</div>

				<div class="cell small-12">
					<small><a routerLink="/recuperar_contrasena">Si olvidó sus datos de ingreso, haga clic aquí para recuperar su contraseña.</a></small>
				</div>


			</div>

		</form>	
	</div>
</section>