<div class="loader-page" *ngIf="loader">
  <span><img src="assets/images/loader.gif" alt="">cargando...</span>
</div>

<section *ngIf="!loader">
  <div class="content-register">
    <h3>CREAR CUENTA</h3>
    <form (ngSubmit)="(f.form.valid && (email.value == confirm_email.value)  && (password.value == passwordConfirmation.value))  && onSignUpSubmit()" #f="ngForm" >

        <div class="alert callout" [hidden]="!errorForm">
          <p [innerHTML]="errorForm | sanitizeHtml" ></p>
        </div>


      <div class="grid-x">

        <div class="input-field cell small-12">
          <label for="email">INDÍCANOS EL NOMBRE ARTÍSTICO DEL SOLISTA O AGRUPACIÓN</label>
          <input id="name"
          type="text"
          required
          name='name'
          #name='ngModel'
          [(ngModel)]="signUpUser.name"
          class="validate">
          <span class="form-error is-visible" *ngIf="f.submitted && !name.valid">Nombre inválido</span>
        </div>


        <div class="input-field cell small-12">
          <label for="email">CORREO ELECTRÓNICO</label>
          <input id="email"
          type="email"
          email
          required
          name='email'
          #email="ngModel"
          [(ngModel)]="signUpUser.email"
          class="validate">
          <span class="form-error is-visible" *ngIf="f.submitted && !email.valid">Correo eletrónico inválido</span>
        </div>

        <div class="input-field cell small-12">
          <label for="confirm_email">CONFIRMAR CORREO ELECTRÓNICO</label>
          <input id="confirm_email"
          type="email"
          required
          email
          name='confirm_email'
          #confirm_email='ngModel'
          [(ngModel)]="signUpUser.emailConfirmation"
          class="validate">
          <span class="form-error is-visible" *ngIf="f.submitted &&  (email.value != confirm_email.value || !confirm_email.valid)">Los correos no coinciden</span>
        </div>

        <div class="input-field cell small-12">
          <label for="password">CONTRASEÑA</label>
          <input id="password"
          type="password"
          required
          name='password'
          #password='ngModel'
          [(ngModel)]="signUpUser.password"
          class="validate">
          <span class="form-error is-visible" *ngIf="f.submitted && !password.valid">Contraseña inválida</span>
        </div>

        <div class="input-field cell small-12">
          <label for="passwordConfirmation">CONFIRMAR CONTRASEÑA</label>
          <input id="passwordConfirmation"
          type="password"
          required
          name='passwordConfirmation'
          #passwordConfirmation='ngModel'
          [(ngModel)]="signUpUser.passwordConfirmation"
          class="validate">
          <span class="form-error is-visible" *ngIf="passwordConfirmation.dirty && (!passwordConfirmation.valid || password.value != passwordConfirmation.value)">Las contraseñas no coinciden</span>
        </div>

        


        <div class="input-field cell small-12">
          <button type="submit" class="button expanded">
           CONTINUAR
          </button>
        </div>

        <div class="input-field cell small-12">
          <a routerLink="/" class="button clear expanded">CANCELAR</a>
        </div>

      </div>
    </form>
  </div>

</section>

