section{
    min-height: calc(100% - 114px);
    width: 100%;
    padding: 5rem 1rem 1rem;


	h3{
		text-align: center;
		margin-bottom: 1.5rem;
	}

	.button{
		border-radius: 0;
		padding: 0.7rem;
		background: #30bb49;
		font-size: 1.2rem;
		font-weight: bold;
		font-family: 'Roboto';
		
	}

	.content-register{
		max-width: 400px;
		margin: 0 auto;
		width: 100%;

		label{
			font-size: 0.8rem;
		}
	}

	.submit-form-content{
		margin-top: 4rem;

		.button{
			max-width: 300px;
			margin: 0 auto;
			display: block;
		}
	}

	.button.clear{
		background: transparent;
		color: #333;
	}
}