header{
	background: #1a1a1a;
	padding: 2rem;
	clear: both;

	.logo-header{
		height: 50px;

		&.logo-header-left{
			float: left;
		}

		&.logo-header-right{
			float: right;
		}

	}
}

.session-controls{
	position: fixed;
	right: 0;
	padding: 1rem;


	.button-session{ 

		.icon-session{
			background: #1a1a1a;
			color: white;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			text-align: center;
			cursor: pointer;
			transition: all 0.28s ease-out;

			

			i{
				position: absolute;
				right: 50%;
				bottom: 50%;
				transform: translate(50%, 50%);
				font-size: 1.8rem;
				line-height: 0;
			}


		}

		&:hover{
			.icon-session{
				transform: scale(0.8);	
			}

			.tool-tip{
				display: block;
			}
		}

		.tool-tip{
			position: absolute;
			width: 150px;
			right: 95px;
			background: #1a1a1a;
			bottom: 50%;
			transform: translateY(50%);
			padding: 0.5rem;
			font-size: 0.9rem;
			font-weight: 400;
			color: white;
			text-align: center;
			display: none;

			&:after{
				content: '';
				width: 0;
				height: 0;
				border-left: 15px solid #1a1a1a;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				position: absolute;
				right: -15px;
			}
		}
	}

}

@media screen and (max-width: 39.9375em) {
	header{
		padding: 1.5rem;

		.logo-header{
			height: 40px;
		}
	}
}