<header>
	<div class="grid-x">
	  <div class="cell small-6">
	  	<img class="logo-header logo-header-left" src="assets/images/logo-bomm.svg">
	  </div>
	  <div class="cell small-6">
	  	<img class="logo-header logo-header-right" src="assets/images/logo-ccb140-BOmm.png">
	  </div>
	</div>
</header>

<div class="session-controls" *ngIf="(authService.userSignedIn$ | async)">
	<div class="button-session" (click)="logOut($event)">
		<div class="icon-session">
			<i class="fas fa-user"></i>	
		</div>
		<div class="tool-tip">CERRAR SESIÓN</div>
	</div>
</div>
