<div [ngSwitch]="type_sound" *ngIf="!error_same">
	<soundcloud-embed *ngSwitchCase="1" [link]="source_link"></soundcloud-embed>
	<reverbnation-embed *ngSwitchCase="2" [link]="source_link"></reverbnation-embed>
	<spotify-embed *ngSwitchCase="3" [link]="source_link"></spotify-embed>
	<deezer-embed *ngSwitchCase="4" [link]="source_link"></deezer-embed>
	<bandcamp-embed *ngSwitchCase="5" [link]="source_link"></bandcamp-embed>
	<mixcloud-embed *ngSwitchCase="6" [link]="source_link"></mixcloud-embed>
	<youtube-embed *ngSwitchCase="7" [link]="source_link"></youtube-embed>
	<vimeo-embed *ngSwitchCase="8" [link]="source_link"></vimeo-embed>
	
</div>

<div class="callout alert" *ngIf="error_same">
	<span>No puedes usar el mismo link mas de una vez</span>
</div>