<section>
	<h1>PROTECCIÓN DE DATOS ARTISTAS BOmm 2018</h1>

	<p>
		Al diligenciar este formulario autoriza a La Cámara de Comercio de Bogotá - CCB, identificada con
		el NIT. 860.007.322-9, domiciliada y ubicada en Bogotá - Colombia en la Avenida el Dorado No. 68
		D - 35, teléfono 3830330 y página web: <a href="http://www.ccb.org.co" target="_blank">www.ccb.org.co</a>,  para que como responsable del
		tratamiento de datos personales los recolecte, almacene, use y circule para el 
		<strong>Bogotá Music
		Market – BOmm: a) Realizar el registro como artista, agrupación o representante , b) Enviar
		comunicaciones e informar de los eventos o talleres, c) llevar el registro de acceso a los diferentes
		eventos o talleres, d) trasmitir la información de los artistas, música, videos, redes sociales etc., a
		los curadores para evaluar su posible participación en el BOmm, e) realizar el agendamiento con
		los compradores en caso de ser seleccionado por los curadores del BOmm para participar en las
		ruedas de negocios, f) divulgar el contenido artístico de las propuestas seleccionadas en las redes
		del BOmm, g) permitir el registro fotográfico y audiovisual durante los diferentes eventos
		del BOmm, con el fin de generar y publicar noticias, en los diferentes medios de comunicación, en
		nuestros portales y en redes sociales.  En todo caso, la CCB respetará los derechos de autoría y
		propiedad intelectual de las piezas utilizadas en material promocional o publicitario, sin que esto
		suponga retribución y/o compensación económica alguna, g) trasmitir los datos a los proveedores
		que apoyarán el evento, h) enviar encuestas para la generación de estadísticos del sector y e)
		Generar informes o estadísticas internas.</strong>
		</p>
		<p>Estas finalidades se podrán realizar a través de medios
		físicos, digitales, electrónicos o telefónicos. Usted podrá consultar el “Manual de Políticas y
		Procedimientos de Protección de Datos Personales”
		en <a href="http://www.ccb.org.co/protecciondedatospersonales" target="_blank">www.ccb.org.co/protecciondedatospersonales</a>. Para resolver dudas e inquietudes relacionadas
		con el tratamiento de los datos, presentar sus solicitudes y/o ejercer sus derechos puede
		escribirnos al <a href="mailto:correoprotecciondedatos@ccb.org.co" target="_blank">correoprotecciondedatos@ccb.org.co</a>, o hacerlo en cualquiera de nuestras sedes, en
		cumplimiento con lo descrito en el Artículo 2.2.2.25.4.1 del Decreto 1074 de 2015. Así mismo, la
		CCB le informa que sus derechos como titular de datos personales son: (i) Acceder en forma gratuita
		a los datos proporcionados que hayan sido objeto de tratamiento. (ii) Conocer, actualizar y rectificar su
		información frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o a aquellos
		cuyo tratamiento esté prohibido o no haya sido autorizado. (iii) Solicitar prueba de la autorización otorgada.
		(iv) Presentar ante la Superintendencia de Industria y Comercio (SIC) quejas por infracciones a lo dispuesto en
		la normatividad vigente. (v) Revocar la autorización y/o solicitar la supresión del dato, siempre que no exista
		un deber legal o contractual que impida eliminarlos. (vi) Abstenerse de responder las preguntas sobre datos
		sensibles.
	</p>
	<button class="close-dialog" [mat-dialog-close]="true"><i class="fas fa-times"></i></button>
</section>