section{
	position: relative;
}

h1{
	font-size: 2rem;
	margin-bottom: 2rem;
}

p{
	text-align: justify;
}

.close-dialog{
	position: absolute;
    right: 0;
    top: 0;
    color: #616161;
    font-size: 1.5rem;
    opacity: 0.5;
    transition: all 0.28s ease-out;
    cursor: pointer;

    &:hover{
    	opacity: 1;
    }
    
}