<div class="loader-page" *ngIf="loader">
  <span><img src="assets/images/loader.gif" alt="">cargando...</span>
</div>

<div class="content-form">

	<form (ngSubmit)="f.valid && onSubmit()" #f="ngForm">
		<div class="grid-container">

			<div class="content-section-form">
				<div class="alert callout" *ngIf="f.submitted && verifyLinks()">No puedes usar el mismo link más de una vez</div>
				
				<div class="grid-x grid-padding-x text-center">
					<h1>REGISTRO</h1>
					<p>El formulario está divido en 4 secciones: datos básicos del solista o agrupación, archivos de audio, archivos de video y datos del representante en la rueda de negocios. En la siguiente pestaña encontrarás la aceptación de los términos y condiciones. Recuerda que cada sección debe ser diligenciada en su totalidad. </p>		
				</div>

				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-4">
						<label class="label-image">
							IMAGEN DEL GRUPO O ARTISTA (800 * 800 PX)
							<file-uploader-s3 
								[disabled]="model.status_id == 2"
								[showImage]="true"
								[dropZone]="true" 
						  		[autoSend]="true"
						  		[link_image]="model.imagen" 
								[name_input]="'imagen'"
						  		(emiterSubmit)="submitImage($event)"
						  		(emiterLoading)="onLoadFile($event)"
								></file-uploader-s3>
						</label>

					</div>
					<div class="cell small-12 medium-8">
						<div class="grid-x grid-padding-x">
							<div class="cell small-12 medium-12">
								<label>
									 INDÍCANOS EL NOMBRE ARTÍSTICO DEL SOLISTA O AGRUPACIÓN
									<input 
										[disabled]="model.status_id == 2"
										name="name"
										type="text"
										placeholder="NOMBRE"
										#name='ngModel'
	          							[(ngModel)]="model.name"
										required
										[pattern]="patterns.alpha_space"
										(change)="saveModel(!name.valid)">
										<span class="form-error is-visible" *ngIf="(f.submitted || name.dirty) && !name.valid">Campo inválido</span>
								</label>
							</div>
							<div class="cell small-12 medium-6">
								<label>
									TIPO DE PROPUESTA
									<select 
										[disabled]="model.status_id == 2"
										name="type_proposal_id"
										required
										#type_proposal_id='ngModel'
	          							[(ngModel)]="model.type_proposal_id"
	          							(change)="saveModel(!type_proposal_id.valid)">
										<option value="">SELECCIONE UNA</option>
										<option *ngFor="let tipo of tipos; let i = index" value="{{tipo.id}}">
											{{ tipo.type_proposal_name }}
										</option>
									</select>
									<span class="form-error is-visible" *ngIf="(f.submitted || type_proposal_id.dirty) && !type_proposal_id.valid">Campo inválido</span>
								</label>
							</div>
							<div class="cell small-12 medium-6">
								<label>
									GÉNERO MUSICAL
									<select 
										[disabled]="model.status_id == 2"
										name="type_gender_id" 
										required
										#type_gender_id='ngModel'
	          							[(ngModel)]="model.type_gender_id"
	          							(change)="saveModel(!type_gender_id.valid)">
										<option value="">SELECCIONE UNO</option>
										<option *ngFor="let genero of generos; let i = index" value="{{genero.id}}">
											{{ genero.type_gender_name }}
										</option>
									</select>
									<span class="form-error is-visible" *ngIf="(f.submitted ||type_gender_id.dirty) && !type_gender_id.valid">Campo inválido</span>
								</label>
							</div>
							<div class="cell small-12 medium-12">
								<label>
									 ESCRIBE UNA BREVE RESEÑA DE LA AGRUPACIÓN O ARTISTA (ESPAÑOL)
									<textarea 
										[disabled]="model.status_id == 2"
										name="review_esp" 
										cols="30"
										rows="2"
										placeholder="MÁXIMO 700 CARATERES"
										maxlength="700"
										required
										#review_esp='ngModel'
	          							[(ngModel)]="model.review_esp"
	          							(change)="saveModel(!review_esp.valid)">
									</textarea>
									<span class="form-error is-visible" *ngIf="(f.submitted ||review_esp.dirty) && !review_esp.valid">Campo inválido</span>
								</label>
							</div>
							<div class="cell small-12 medium-12">
								<label>
									ESCRIBE UNA BREVE RESEÑA DE LA AGRUPACIÓN O ARTISTA (INGLES)
									<textarea 
										[disabled]="model.status_id == 2"
										name="review_eng"
										cols="30" 
										rows="2" 
										placeholder="MÁXIMO 700 CARATERES" 
										maxlength="700" 
										required
										#review_eng='ngModel'
	          							[(ngModel)]="model.review_eng"
	          							(change)="saveModel(!review_eng.valid)">
									</textarea>
									<span class="form-error is-visible" *ngIf="(f.submitted ||review_eng.dirty) && !review_eng.valid">Campo inválido</span>
								</label>
							</div>
						</div>

					</div>
				</div>

				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-8">
						<label>
							INDÍCANOS EL NOMBRE DEL MANAGER
							<input 
								[disabled]="model.status_id == 2"
								name="manager"
								type="text"
								placeholder="MANAGER"
								required
								[pattern]="patterns.alpha"
								#manager='ngModel'
	          					[(ngModel)]="model.manager"
	          					(change)="saveModel(!manager.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||manager.dirty) && !manager.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label>
							SITIO WEB
							<input
								[disabled]="model.status_id == 2" 
								name="type_social_network_id_1"
								type="hidden" 
								[value]="1" 
								#type_social_network_id='ngModel'
	          					[(ngModel)]="model.social[0].type_social_network_id">
							<input
								[disabled]="model.status_id == 2"
								name="sitio_web"
								type="text"
								placeholder="SITIO WEB"
								required
								[pattern]="patterns.website"
								#sitio_web='ngModel'
	          					[(ngModel)]="model.social[0].link"
	          					(change)="saveModel(!sitio_web.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||sitio_web.dirty) && !sitio_web.valid">Campo inválido</span>
						</label>
					</div>
				</div>
				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-8">
						<label class="checkbox-input">
							<input 
								[disabled]="model.status_id == 2"
								type="checkbox" 
								name="ccb"
								#ccb='ngModel'
	          					[(ngModel)]="model.ccb"
	          					(change)="saveModel($event)"><span></span>
							¿ACTUALMENTE ESTÁS RECIBIENDO SERVICIOS EMPRESARIALES DE LA CÁMARA DE COMERCIO DE BOGOTÁ PARA MEJORAR LA VIABILIDAD ECONÓMICA DE TU PROYECTO?
							
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label class="checkbox-input">
							<input
								[disabled]="model.status_id == 2"
								type="checkbox" 
								name="showcases"
								#showcases='ngModel'
	          					[(ngModel)]="model.showcases"
	          					(change)="saveModel($event)"><span></span>
							INDÍCANOS SI QUIERES QUE TU PROPUESTA SEA EVALUADA PARA PARTICIPAR EN LOS SHOWCASES
							
						</label>
					</div>
				</div>
			</div>


			<div class="content-section-form">
				<div class="grid-x grid-padding-x text-center">
					<h1>INSUMOS PARA EVALUACIÓN DEL PROYECTO</h1>
					<p></p>
				</div>
				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-4">
						<label>
							RED SOCIAL
							<select 
								[disabled]="model.status_id == 2"
								name="type_social_network_id_2"
								required
								#type_social_network_id='ngModel'
	          					[(ngModel)]="model.social[1].type_social_network_id"
	          					(change)="saveModel(!type_social_network_id.valid)">
								<option value="">SELECCIONE UNA</option>
								<option *ngFor="let red of redes; let i = index" value="{{red.id}}">
									{{ red.type_social_network_name }}
								</option>
							</select>
							<span class="form-error is-visible" *ngIf="(f.submitted ||type_social_network_id.dirty) && !type_social_network_id.valid">Campo inválido</span>
							
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label>
							URL
							<input
								[disabled]="model.status_id == 2"
								name="type_social_network_link_2"
								type="text"
								placeholder="URL RED SOCIAL"
								required [pattern]="patterns.alpha"
								#type_social_network_link='ngModel'
	          					[(ngModel)]="model.social[1].link"
	          					(change)="saveModel(!type_social_network_link.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||type_social_network_link.dirty) && !type_social_network_link.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label>
							RED SOCIAL
							<select 
								[disabled]="model.status_id == 2"
								name="type_social_network_id_3"
								required
								#type_social_network_id='ngModel'
	          					[(ngModel)]="model.social[2].type_social_network_id"
	          					(change)="saveModel(!type_social_network_id.valid)">
								<option value="">SELECCIONE UNA</option>
								<option *ngFor="let red of redes; let i = index" value="{{red.id}}">
									{{ red.type_social_network_name }}
								</option>
							</select>
							<span class="form-error is-visible" *ngIf="(f.submitted ||type_social_network_id.dirty)  && !type_social_network_id.valid">Campo inválido</span>
							
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label>
							URL
							<input
								[disabled]="model.status_id == 2"
								name="type_social_network_link_3"
								type="text"
								placeholder="URL RED SOCIAL"
								required [pattern]="patterns.alpha"
								#type_social_network_link='ngModel'
	          					[(ngModel)]="model.social[2].link"
	          					(change)="saveModel(!type_social_network_link.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||type_social_network_link.dirty) && !type_social_network_link.valid">Campo inválido</span>
						</label>
					</div>
				</div>

				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-8">
						<label class="label-file">
							PRESENTACIÓN (EPK)
							<file-uploader-s3 
								[disabled]="model.status_id == 2"
								[showImage]="false"
								[dropZone]="true" 
						  		[autoSend]="true"
						  		[link_image]="model.pdf" 
								[name_input]="'pdf'"
								[validExtensions]="['pdf']"
						  		(emiterSubmit)="submitFile($event)"
						  		(emiterLoading)="onLoadFile($event)"
								></file-uploader-s3>
							<!-- <div class="input-file"><span>SELECCIONAR ARCHIVO PDF</span></div> -->
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label>
							¿CUÁNTO CUESTA UN SHOW EN VIVO? (USD)
							<input
								[disabled]="model.status_id == 2"
								name="cost_live_show" 
								type="text" 
								placeholder="COSTO DE UN SHOW EN VIVO EN USD" 
								required 
								[pattern]="patterns.number"
								#cost_live_show='ngModel'
	          					[(ngModel)]="model.cost_live_show"
	          					(change)="saveModel(!cost_live_show.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||cost_live_show.dirty)  && !cost_live_show.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-12">
						<small>EPK significa Electronic Press Kit por sus siglas en inglés. Es una herramienta promocional en la que se incluye la biografía de la banda, fotos, información de contacto, manager, discografía, entre otros. </small>
					</div>
				</div>
			</div>


			<div class="content-section-form">
				<div class="grid-x grid-padding-x text-center">
					<div class="cell small-12 medium-12"><h1>ARCHIVOS DE AUDIO</h1></div>
					<div class="cell small-12 medium-12"><p>En esta sección del formulario debes ingresar tres (3) audios diferentes que den muestra de tu producto musical y la calidad del mismo. Solo se reciben links de las plataformas que aparecen en la lista desplegable.</p></div>
				</div>
				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-4">
						<label>
							TIPO
							<select 
								[disabled]="model.status_id == 2"
								name="type_audio_video_id_1"
								required
								#type_audio_video_id_1='ngModel'
	          					[(ngModel)]="model.audio_video[0].type_audio_video_id"
	          					(change)="saveModel(!type_audio_video_id_1.valid)"
								>
								<option value="">SELECCIONE UN TIPO</option>
								<option *ngFor="let tipo of tipos_audio; let i = index" value="{{tipo.id}}">
									{{ tipo.type_audio_name }}
								</option>
							</select>
							<span class="form-error is-visible" *ngIf="(f.submitted ||type_audio_video_id_1.dirty) && !type_audio_video_id_1.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label>
							URL
							<input 
								[disabled]="model.status_id == 2"
								name="link_audio_video_id_1"
								type="text"
								placeholder="LINK"
								required
								[pattern]="patterns.alpha"
								#link_audio_video_id_1='ngModel'
	          					[(ngModel)]="model.audio_video[0].link"
	          					(change)="saveMultimediaModel(!link_audio_video_id_1.valid, model.audio_video[0]); ">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||link_audio_video_id_1.dirty ) && !link_audio_video_id_1.valid">Campo inválido</span>
						</label>
					</div>
				</div>

				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-12">
						<label >
							<sound-embed [type_sound]="type_audio_video_id_1.value" [source_sound]="model.audio_video[0].link" [error_same]="model.audio_video[0].valid"></sound-embed>
						</label>
					</div>
				</div>

				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-4">
						<label>
							TIPO
							<select 
								[disabled]="model.status_id == 2"
								name="type_audio_video_id_2"
								required
								#type_audio_video_id_2='ngModel'
	          					[(ngModel)]="model.audio_video[1].type_audio_video_id"
	          					(change)="saveModel(!type_audio_video_id_2.valid)"
								>
								<option value="">SELECCIONE UN TIPO</option>
								<option *ngFor="let tipo of tipos_audio; let i = index" value="{{tipo.id}}">
									{{ tipo.type_audio_name }}
								</option>
							</select>
							<span class="form-error is-visible" *ngIf="(f.submitted ||type_audio_video_id_2.dirty) && !type_audio_video_id_2.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label>
							URL
							<input 
								[disabled]="model.status_id == 2"
								name="link_audio_video_id_2"
								type="text"
								placeholder="LINK"
								required
								[pattern]="patterns.alpha"
								#link_audio_video_id_2='ngModel'
	          					[(ngModel)]="model.audio_video[1].link"
	          					(change)="saveMultimediaModel(!type_audio_video_id_2.valid, model.audio_video[1])">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||link_audio_video_id_2.dirty) && !link_audio_video_id_2.valid">Campo inválido</span>
						</label>
					</div>
				</div>

				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-12">
						<label >
							<sound-embed [type_sound]="type_audio_video_id_2.value" [source_sound]="model.audio_video[1].link" [error_same]="model.audio_video[1].valid"></sound-embed>
						</label>
					</div>
				</div>

				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-4">
						<label>
							TIPO
							<select 
								[disabled]="model.status_id == 2"
								name="type_audio_video_id_3"
								required
								#type_audio_video_id_3='ngModel'
	          					[(ngModel)]="model.audio_video[2].type_audio_video_id"
	          					(change)="saveModel(!type_audio_video_id_3.valid)"
								>
								<option value="">SELECCIONE UN TIPO</option>
								<option *ngFor="let tipo of tipos_audio; let i = index" value="{{tipo.id}}">
									{{ tipo.type_audio_name }}
								</option>
							</select>
							<span class="form-error is-visible" *ngIf="(f.submitted ||type_audio_video_id_3.dirty)  && !type_audio_video_id_3.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label>
							URL
							<input 
								[disabled]="model.status_id == 2"
								name="link_audio_video_id_3"
								type="text"
								placeholder="LINK"
								required
								[pattern]="patterns.alpha"
								#link_audio_video_id_3='ngModel'
	          					[(ngModel)]="model.audio_video[2].link"
	          					(change)="saveMultimediaModel(!type_audio_video_id_3.valid, model.audio_video[2])">
						</label>
						<span class="form-error is-visible" *ngIf="(f.submitted ||link_audio_video_id_3.dirty) && !link_audio_video_id_3.valid">Campo inválido</span>
					</div>
				</div>

				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-12">
						<label >
							<sound-embed [type_sound]="type_audio_video_id_3.value" [source_sound]="model.audio_video[2].link" [error_same]="model.audio_video[2].valid"></sound-embed>
						</label>
					</div>
				</div>
			</div>

			<div class="content-section-form">
				<div class="grid-x grid-padding-x text-center">
					<div class="cell small-12 medium-12"><h1>ARCHIVOS DE VIDEO</h1></div>
					<div class="cell small-12 medium-12"><p>En esta sección del formulario debes ingresar tres (3) videos diferentes que den muestra de tu producto musical, y la calidad del mismo. Los videos pueden ser de los audios previamente cargados.</p></div>
				</div>

				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-4">
						<div class="embed-video">
							<sound-embed [type_sound]="type_audio_video_id_4.value" [source_sound]="model.audio_video[3].link" [error_same]="model.audio_video[3].valid"></sound-embed>
						</div>
					</div>
					<div class="cell small-12 medium-8">
						<div class="grid-x ">
							<div class="cell small-12 medium-6">
								<label>
									TIPO
									<select
										[disabled]="model.status_id == 2"
										name="type_audio_video_id_4"
										required
										#type_audio_video_id_4='ngModel'
	          							[(ngModel)]="model.audio_video[3].type_audio_video_id"
	          							(change)="saveModel(!type_audio_video_id_4.valid)">
										<option value="">SELECCIONE UN TIPO</option>
										<option *ngFor="let tipo of tipos_video; let i = index" value="{{tipo.id}}">
											{{ tipo.type_audio_name }}
										</option>
									</select>
									<span class="form-error is-visible" *ngIf="(f.submitted ||type_audio_video_id_4.dirty) && !type_audio_video_id_4.valid">Campo inválido</span>
								</label>
							</div>
							<div class="cell small-12 medium-12">
								<label>
									URL
									<input
										[disabled]="model.status_id == 2"
										name="link_audio_video_id_4" 
										type="text" 
										placeholder="LINK" 
										required 
										[pattern]="patterns.alpha"
										#link_audio_video_id_4='ngModel'
	          							[(ngModel)]="model.audio_video[3].link"
	          							(change)="saveMultimediaModel(!type_audio_video_id_4.valid, model.audio_video[3])">
	          							<span class="form-error is-visible" *ngIf="(f.submitted ||link_audio_video_id_4.dirty) && !link_audio_video_id_4.valid">Campo inválido</span>
								</label>
							</div>
						</div>
					</div>

				</div>

					<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-4">
						<div class="embed-video">
							<sound-embed [type_sound]="type_audio_video_id_5.value" [source_sound]="model.audio_video[4].link" [error_same]="model.audio_video[4].valid"></sound-embed>
						</div>
					</div>
					<div class="cell small-12 medium-8">
						<div class="grid-x ">
							<div class="cell small-12 medium-6">
								<label>
									TIPO
									<select
										[disabled]="model.status_id == 2"
										name="type_audio_video_id_5"
										required
										#type_audio_video_id_5='ngModel'
	          							[(ngModel)]="model.audio_video[4].type_audio_video_id"
	          							(change)="saveModel(!type_audio_video_id_5.valid)">
										<option value="">SELECCIONE UN TIPO</option>
										<option *ngFor="let tipo of tipos_video; let i = index" value="{{tipo.id}}">
											{{ tipo.type_audio_name }}
										</option>
									</select>
									<span class="form-error is-visible" *ngIf="(f.submitted ||type_audio_video_id_5.dirty)  && !type_audio_video_id_5.valid">Campo inválido</span>
								</label>
							</div>
							<div class="cell small-12 medium-12">
								<label>
									URL
									<input
										[disabled]="model.status_id == 2"
										name="link_audio_video_id_5" 
										type="text" 
										placeholder="LINK" 
										required 
										[pattern]="patterns.alpha"
										#link_audio_video_id_5='ngModel'
	          							[(ngModel)]="model.audio_video[4].link"
	          							(change)="saveMultimediaModel(!type_audio_video_id_5.valid, model.audio_video[4])">
	          							<span class="form-error is-visible" *ngIf="(f.submitted ||link_audio_video_id_5.dirty) && !link_audio_video_id_5.valid">Campo inválido</span>
								</label>
							</div>
						</div>
					</div>

				</div>

					<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-4">
						<div class="embed-video">
							<sound-embed [type_sound]="type_audio_video_id_6.value" [source_sound]="model.audio_video[5].link" [error_same]="model.audio_video[5].valid"></sound-embed>
						</div>
					</div>
					<div class="cell small-12 medium-8">
						<div class="grid-x ">
							<div class="cell small-12 medium-6">
								<label>
									TIPO
									<select
										[disabled]="model.status_id == 2"
										name="type_audio_video_id_6"
										required
										#type_audio_video_id_6='ngModel'
	          							[(ngModel)]="model.audio_video[5].type_audio_video_id"
	          							(change)="saveModel(!type_audio_video_id_6.valid)">
										<option value="">SELECCIONE UN TIPO</option>
										<option *ngFor="let tipo of tipos_video; let i = index" value="{{tipo.id}}">
											{{ tipo.type_audio_name }}
										</option>
									</select>
									<span class="form-error is-visible" *ngIf="(f.submitted ||type_audio_video_id_6.dirty) && !type_audio_video_id_6.valid">Campo inválido</span>
								</label>
							</div>
							<div class="cell small-12 medium-12">
								<label>
									URL
									<input
										[disabled]="model.status_id == 2"
										name="link_audio_video_id_6" 
										type="text" 
										placeholder="LINK" 
										required 
										[pattern]="patterns.alpha"
										#link_audio_video_id_6='ngModel'
	          							[(ngModel)]="model.audio_video[5].link"
	          							(change)="saveMultimediaModel(!type_audio_video_id_6.valid, model.audio_video[5])">
	          							<span class="form-error is-visible" *ngIf="(f.submitted ||link_audio_video_id_6.dirty) && !link_audio_video_id_6.valid">Campo inválido</span>
								</label>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="content-section-form">
				<div class="grid-x grid-padding-x text-center">
					<h1>REPRESENTACIÓN EN EL BOmm</h1>
					<p>Diligencia los datos del representante del solista o agrupación, que en caso de ser seleccionado,  participará en la Rueda de Negocios del BOmm.</p>
					<h2>REPRESENTANTE</h2>
				</div>

				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-6">
						<label >
							PRIMER NOMBRE
							<input 
								[disabled]="model.status_id == 2"
								name="first_name"
								type="text"
								placeholder="PRIMER NOMBRE"
								required
								[pattern]="patterns.alpha"
								#first_name='ngModel'
	          					[(ngModel)]="model.first_name"
	          					(change)="saveModel(!first_name.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||first_name.dirty) && !first_name.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-6">
						<label >
							SEGUNDO NOMBRE
							<input
								[disabled]="model.status_id == 2"
								name="second_name"
								type="text"
								placeholder="SEGUNDO NOMBRE"
								[pattern]="patterns.alpha"
								#second_name='ngModel'
	          					[(ngModel)]="model.second_name"
	          					(change)="saveModel(!second_name.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||second_name.dirty) && !second_name.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-6">
						<label >
							PRIMER APELLIDO
							<input
								[disabled]="model.status_id == 2"
								name="last_name"
								type="text"
								placeholder="PRIMER APELLIDO"
								required
								[pattern]="patterns.alpha"
								#last_name='ngModel'
	          					[(ngModel)]="model.last_name"
	          					(change)="saveModel(!last_name.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||last_name.dirty)  && !last_name.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-6">
						<label >
							SEGUNDO APELLIDO
							<input
								[disabled]="model.status_id == 2"
								name="second_surname"
								type="text"
								placeholder="SEGUNDO APELLIDO"
								required
								[pattern]="patterns.alpha"
								#second_surname='ngModel'
	          					[(ngModel)]="model.second_surname"
	          					(change)="saveModel(!second_surname.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||second_surname.dirty) && !second_surname.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-3">
						<label>
							SEXO
							<select
								[disabled]="model.status_id == 2"
								name="type_gender_representative_id"
								required
								#type_gender_representative_id='ngModel'
	          					[(ngModel)]="model.type_gender_representative_id"
	          					(change)="saveModel(!type_gender_representative_id.valid)">
								<option *ngFor="let s of sexo; let i = index" value="{{s.id}}">
									{{ s.type_gender_name }}
								</option>
							</select>
							<span class="form-error is-visible" *ngIf="(f.submitted ||type_gender_representative_id.dirty) && !type_gender_representative_id.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-3">
						<label>
							TIPO DE DOCUMENTO
							<select 
								[disabled]="model.status_id == 2"
								name="type_document_id"
								required
								#type_document_id='ngModel'
	          					[(ngModel)]="model.type_document_id"
	          					(change)="saveModel(!type_document_id.valid)">
								<option value="">SELECCIONE UNO</option>
								<option *ngFor="let tipo of tipos_docs; let i = index" value="{{tipo.id}}">
									{{ tipo.type_document_name }}
								</option>
							</select>
							<span class="form-error is-visible" *ngIf="(f.submitted ||type_document_id.dirty) && !type_document_id.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-3">
						<label >
							NÚMERO DE DOCUMENTO
							<input
								[disabled]="model.status_id == 2"
								name="number"
								type="text"
								placeholder="DOCUMENTO" 
								required
								[pattern]="patterns.number"
								#document='ngModel'
	          					[(ngModel)]="model.document"
	          					(change)="saveModel(!document.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||document.dirty) && !document.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-3">
						<label>
							FECHA DE NACIMIENTO
							<input
								[disabled]="model.status_id == 2"
								type="date"
								name="fecha_nacimiento" 
								required
								#birth_date='ngModel'
	          					[(ngModel)]="model.birth_date"
	          					(change)="saveModel(!birth_date.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||birth_date.dirty) && !birth_date.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label>
							PAÍS DE NACIMIENTO
							<select
								[disabled]="model.status_id == 2"
								name="country_id"
								required
								#country_id='ngModel'
	          					[(ngModel)]="model.country_id"
	          					(change)="saveModel(!country_id.valid)">
								<option value="">SELECCIONE UNO</option>
								<option *ngFor="let pais of contries; let i = index" value="{{pais.id}}">
									{{ pais.country_name }}
								</option>
							</select>
							<span class="form-error is-visible" *ngIf="(f.submitted ||country_id.dirty) && !country_id.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-4" *ngIf="country_id.value==38">
						<label>
							DEPARTAMENTO
							<select
								[disabled]="model.status_id == 2"
								name="departamento_nacimiento"
								required
								(change)="fillCity(departamento_nacimiento.value)"
								#departamento_nacimiento>
								<option value="">SELECCIONE UNO</option>
								<option *ngFor="let departament of department; let i = index" value="{{departament.id}}">
									{{ departament.department_name }}
								</option>
							</select>

						</label>
					</div>
					<div class="cell small-12 medium-4" *ngIf="country_id.value==38">
						<label>
							CIUDAD
							<select
								[disabled]="model.status_id == 2"
								name="city_id"
								required
								#city_id='ngModel'
	          					[(ngModel)]="model.city_id"
	          					(change)="saveModel(!city_id.valid)">
								<option value="">SELECCIONE UNO</option>
								<option *ngFor="let city of fill_cities; let i = index" value="{{city.id}}">
									{{ city.city_name }}
								</option>
							</select>
							<span class="form-error is-visible" *ngIf="(f.submitted ||city_id.dirty) && !city_id.valid">Campo inválido</span>
						</label>
					</div>
				
					<div class="cell small-12 medium-8" *ngIf="country_id.value!=38">
						<label >
							CIUDAD
							<input
								[disabled]="model.status_id == 2" 
								name="other_city"
								type="text"
								placeholder="CIUDAD"
								required
								[pattern]="patterns.alpha_space"
								#other_city='ngModel'
	          					[(ngModel)]="model.other_city"
	          					(change)="saveModel(!other_city.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||other_city.dirty) && !other_city.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label >
							DIRECCIÓN DE RESIDENCIA
							<input 
								[disabled]="model.status_id == 2"
								name="address"
								type="text"
								placeholder="DIRECCIÓN"
								required
								[pattern]="patterns.alpha_space"
								#address='ngModel'
	          					[(ngModel)]="model.address"
	          					(change)="saveModel(!address.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||address.dirty) && !address.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label >
							TELÉFONO DE RESIDENCIA
							<input
								[disabled]="model.status_id == 2"
								name="phone"
								type="text"
								placeholder="TELÉFONO DE RESIDENCIA"
								required
								[pattern]="patterns.phone"
								#phone='ngModel'
	          					[(ngModel)]="model.phone"
	          					(change)="saveModel(!phone.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||phone.dirty )&& !phone.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label >
							TELÉFONO MÓVIL
							<input
								[disabled]="model.status_id == 2"
								name="cell_phone"
								type="text"
								placeholder="TELÉFONO MOVIL"
								required
								[pattern]="patterns.phone"
								#cell_phone='ngModel'
	          					[(ngModel)]="model.cell_phone"
	          					(change)="saveModel(!cell_phone.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||cell_phone.dirty)&& !cell_phone.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label >
							CORREO ELECTRÓNICO
							<input
								[disabled]="model.status_id == 2"
								name="email"
								type="text"
								placeholder="CORREO ELECTRÓNICO"
								required
								[pattern]="patterns.email"
								#email='ngModel'
	          					[(ngModel)]="model.email"
	          					(change)="saveModel(!email.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||email.dirty) && !email.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label >
							CORREO ELECTRÓNICO ALTERNATIVO
							<input 
								[disabled]="model.status_id == 2"
								name="email_opcional" 
								type="text" 
								placeholder="CORREO ELECTRÓNICO" 
								required 
								[pattern]="patterns.email"
								#email_opcional='ngModel'
	          					[(ngModel)]="model.email_opcional"
	          					(change)="saveModel(!email_opcional.valid)"
								>
							<span class="form-error is-visible" *ngIf="(f.submitted ||email_opcional.dirty) && !email_opcional.valid">Campo inválido</span>
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label>
							NIVEL DE ESTUDIOS
							<select
								[disabled]="model.status_id == 2"
								name="study_level_id"
								required
								#study_level_id='ngModel'
	          					[(ngModel)]="model.study_level_id"
	          					(change)="saveModel(!study_level_id.valid)">
								<option value="">SELECCIONE UNO</option>
								<option *ngFor="let niveles of niveles_estudio; let i = index" value="{{niveles.id}}">
									{{ niveles.study_level_name }}
								</option>
							</select>
							<span class="form-error is-visible" *ngIf="(f.submitted ||study_level_id.dirty) && !study_level_id.valid">Campo inválido</span>
						</label>
					</div>
				</div>

				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-4">
						<label>
							REPRESENTA UNA EMPRESA
							<select
								[disabled]="model.status_id == 2"
								name="represents_company"
								required
								#represents_company='ngModel'
	          					[(ngModel)]="model.represents_company"
	          					(change)="saveModel(!represents_company.valid)">
								<option value="">SELECCIONE UNO</option>
								<option *ngFor="let opt of si_no; let i = index" value="{{opt.value}}">
									{{ opt.label }}
								</option>
							</select>
							<span class="form-error is-visible" *ngIf="(f.submitted ||represents_company.dirty) && !represents_company.valid">Campo inválido</span>
						</label>
					</div>
					<div *ngIf="model.represents_company == 'true'"  class="cell small-12 medium-8">
						<label >
							NOMBRE DE LA EMPRESA
							<input 
								[disabled]="model.status_id == 2"
								type="text" 
								placeholder="NOMBRE"
								name="name_comp"
								required
								[pattern]="patterns.alpha_space"
								#name_comp='ngModel'
	          					[(ngModel)]="model.name_comp"
	          					(change)="saveModel(!name_comp.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||name_comp.dirty) && !name_comp.valid">Campo inválido</span>
						</label>
					</div>
					<div *ngIf="model.represents_company == 'true'" class="cell small-12 medium-3">
						<label >
							NIT
							<input
								[disabled]="model.status_id == 2"
								type="text" 
								placeholder="NIT"
								name="nit"
								required
								[pattern]="patterns.number"
								#nit='ngModel'
	          					[(ngModel)]="model.nit"
	          					(change)="saveModel(!nit.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||nit.dirty) && !nit.valid">Campo inválido</span>
						</label>
					</div>
					<div *ngIf="model.represents_company == 'true'" class="cell small-12 medium-1">
						<label >
							&nbsp;
							<input
								[disabled]="model.status_id == 2"
								type="text"
								placeholder="#"
								name="cod_verification"
								#cod_verification='ngModel'
	          					[(ngModel)]="model.cod_verification"
	          					required
	          					[pattern]="patterns.number"
	          					maxlength="1"
	          					(change)="saveModel(!cod_verification.valid)">
	          					<span class="form-error is-visible" *ngIf="(f.submitted ||cod_verification.dirty) && !cod_verification.valid">Campo inválido</span>
						</label>
					</div>
					<div *ngIf="model.represents_company == 'true'" class="cell small-12 medium-8">
						<label >
							CARGO
							<select 
								[disabled]="model.status_id == 2"
								name="genero"
								name="position"
								required
								#position='ngModel'
	          					[(ngModel)]="model.position"
	          					(change)="saveModel(!position.valid)">
								<option value="">SELECCIONE UNO</option>
								<option *ngFor="let cargo of cargo_empresa; let i = index" value="{{i+1}}">
									{{ cargo }}
								</option>
							</select>
							<span class="form-error is-visible" *ngIf="(f.submitted ||position.dirty) && !position.valid">Campo inválido</span>
						</label>
					</div>
					
				</div>

				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-8">
						<label class="checkbox-input">
							<input 
								[disabled]="model.status_id == 2"
								type="checkbox"
								name="notification_text"
								#notification_text='ngModel'
	          					[(ngModel)]="model.notification_text"
	          					(change)="savecheckModel()"
	          					>
							<span></span>
							ACEPTA RECIBIR INFORMACIÓN POR MEDIO DE MENSAJES DE TEXTO
							
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label class="checkbox-input">
							<input 
								[disabled]="model.status_id == 2"
								type="checkbox"
								name="notification_email"
								#notification_email='ngModel'
	          					[(ngModel)]="model.notification_email"
	          					(change)="savecheckModel()">
							<span></span>
							ACEPTA RECIBIR INFORMACIÓN POR MEDIO DE CORREO ELECTRÓNICO
							
						</label>
					</div>
				</div>

			</div>
			
			<div class="content-section-form submit-form-content" *ngIf="model.status_id != 2">
				<div class="grid-x grid-padding-x ">
					<div class="cell"><button class="button">Finalizar Registro</button></div>
					<div class="cell"><a href="" class="button clear">Cancelar</a></div>
				</div>
			</div>

		</div>
	</form>
</div>
