.content-form{
	padding: 3rem 0 2rem;

	.content-section-form{

		margin-bottom: 2rem; 

		h1{
			font-size: 2.5rem;
		}

		h2{
			font-size: 2rem;
		}
	}

	
}

.button{
	border-radius: 0;
    padding: 0.7rem;
    background: #30bb49;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Roboto';
    
}

p{
	margin-bottom: 3rem;
}

small{
	font-style: italic;
	font-family: Roboto;
	font-size: 80%;
	margin-bottom: 1rem;
	display: block;
	line-height: 1.2;
}

.submit-form-content{
	margin-top: 4rem;

	.button{
		max-width: 300px;
		margin: 0 auto;
		display: block;
		width: 100%;
	}
}

.button.clear{
	background: transparent;
	color: #333;
}

label{
	font-size: 0.8rem;

	&[disabled]{
		color: #cacaca;
		opacity: 0.6;
	}
}

.label-image{
	height: 100%;

	
}

.checkbox-input{
	span{
		display: inline-block;
		background: #f7f7f7;
		width: 15px;
		height: 15px;
		border: 1px solid #cacaca;
		vertical-align: middle;
		margin-right: 5px;
		margin-top: -5px;
	}

	input{
		display: none;
	}

	input:checked ~ span{
		background: #333;

	}
}

.embed-audio{
	background: #f7f7f7;
    border: 1px solid #cacaca;
    padding: 1.2rem;
    text-align: center;
    font-size: 1rem;
    color: #cacaca;
    margin-bottom: 0.5rem;
}

.embed-video{
	background: #f7f7f7;
    border: 1px solid #cacaca;
    padding: 1.2rem;
    text-align: center;
    font-size: 1rem;
    color: #cacaca;
    margin-bottom: 0.5rem;
    height: calc(100% - 0.8rem);
    padding-top: 19%;
    min-height: 230px;
    position: relative;
}

.grid-padding-x>.cell{
	padding-right: 0.7rem;
    padding-left: 0.7rem;
}


.loader-page{
	position: fixed;
	background: rgba(0,0,0,0.8);
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;

	span{
		position: absolute;
		right: 50%;
		bottom: 50%;
		transform: translate(50%, 50%);
		text-align: center;
		color: white;
	}
}

@media screen and (max-width: 39.9375em) {
	label{
		line-height: 1.2;
		margin-bottom: 1rem;
	}
	
	.label-image{
		height: 350px;
	}
}
