<div *ngIf="html_iframe && !failURL" [innerHTML]="html_iframe | sanitizeHtml" ></div>

<div class="callout alert" *ngIf="failURL">
	<span *ngIf="link">Link incorrecto.</span> <a href="assets/images/guia_audios.pdf" target="_blank">En la siguiente guía puedes ver como obtener un link correcto</a>.
</div>