<div id="dz-root"></div>

<iframe 
	*ngIf="!failURL && track_id"
	id='dzplayer' 
	dztype='dzplayer' 
	[src]="track_id | sanitizeUrl" 
	scrolling='no' frameborder='0' style='border:none; overflow:hidden;' width='100%' height='90' allowTransparency='true'></iframe>

<div class="callout alert" *ngIf="failURL">
	<span *ngIf="track_id">Link incorrecto.</span> <a href="assets/images/guia_audios.pdf" target="_blank">En la siguiente guía puedes ver como obtener un link correcto</a>.
</div>