<iframe 
	*ngIf="!failURL"
	width="100%" 
	height="150" 
	scrolling="no" 
	frameborder="no" 
	[src]="final_link | sanitizeUrl" style="width:0px;min-width:100%;max-width:100%;"
	></iframe>

<div class="callout alert" *ngIf="failURL">
	<span *ngIf="link">Link incorrecto.</span> <a href="assets/images/guia_audios.pdf" target="_blank">En la siguiente guía puedes ver como obtener un link correcto</a>.
</div>