.input-image{
	height: calc(100% - 35px);
	background: #f7f7f7;
	border: 1px solid #cacaca;

	&.is_fill_file{
		background: #333333 !important;
		position: relative;

		img{
			height: auto;
			position: absolute;
			width: 100%;
			position: absolute;
			right: 50%;
			bottom: 50%;
			transform: translate(50%, 50%);
	    }
	}
}

.image-container{
	overflow: hidden;
    margin-bottom: 4px;
    position: relative;

    img{
    	max-width: none;
    }
}

.input-file{
	background: #f7f7f7;
	border: 1px solid #cacaca;
	padding: 0.45rem;
	height: 39px;

	span, a{
		color: #a9a7a7;
		display: block;
	    text-align: center;
	    width: 100%;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;

	}

	i.fas{
		position: absolute;
		left: 0;
		bottom: 50%;
		transform: translateY(48%);
		font-size: 1.5rem;
		color: #656565;
	}
}

.main-label{
	height: 100%;
	position: relative;

	.input-content-image{
		position: absolute;
		width: 100%;
		height: 100%;

		span{
			position: absolute;
			right: 50%;
			bottom: 50%;
			transform: translate(50%, 50%);
			color: #a9a7a7;
			width: 100%;
			text-align: center;
		}

		input{
			display: none;
		}
	}		
}


.wrapp-file{
	background: #333333;
    width: 100%;
    height: calc(100% - 35px);
    border: 1px solid #cacaca;
    position: relative;

    img{
		height: auto;
		position: absolute;
		width: 100%;
		position: absolute;
		right: 50%;
		bottom: 50%;
		transform: translate(50%, 50%);
    }
}