<div
	*ngIf="showImage"
	appDragNdrop 
	class="input-image"
	(filesChangeEmiter)="onDropHandler($event, validExtensions)" 
	(filesInvalidEmiter)="onInvalidDropHandler($event)" 
	[class.warrning]="warrning_input"
	[allowed_extensions]="validExtensions" 
	[hidden]=""
	[ngClass]="{'is_uploading':is_uploading, 'disabled':disabled, 'complete_upload':complete_upload, 'have-alert': alert_message, 'is_fill_file':is_fill_file}">
	<label class="main-label" >
		<div class="input-content-image">
			<span *ngIf="!is_fill_file">{{ file_name | uppercase}}</span>
			<div class="image-container" imageSize *ngIf="link_image"><img src="{{link_image}}"></div>
			
			<input type="file"  [id]="name_input" (change)="onChangeHandler($event, validExtensions )" multiple [disabled]="is_uploading" [disabled]=disabled>
		</div>
		
	</label>
</div>

<div
	*ngIf="!showImage"
	appDragNdrop 
	class="input-file"
	(filesChangeEmiter)="onDropHandler($event, validExtensions)" 
	(filesInvalidEmiter)="onInvalidDropHandler($event)" 
	[class.warrning]="warrning_input"
	[allowed_extensions]="validExtensions" 
	[hidden]=""
	[ngClass]="{'is_uploading':is_uploading, 'disabled':disabled, 'complete_upload':complete_upload, 'have-alert': alert_message, 'is_fill_file':is_fill_file}">
	<label class="main-label" >
		<div class="input-content-image">
			<i class="fas fa-file-alt"></i>
			<span *ngIf="!is_fill_file">{{ file_name | uppercase}}</span>
			<a *ngIf="is_fill_file" target="_blank" href="{{link_image}}">{{ file_name | uppercase}}</a>
			<input type="file"  [id]="name_input" (change)="onChangeHandler($event, validExtensions )" multiple [disabled]="is_uploading" [disabled]=disabled>
		</div>
		
	</label>
</div>




<!-- <div *ngIf="is_fill_file" class="wrapp-file" [class.delete-file]="!disabled &&  canDelete">
	<div class="content-image" *ngIf="showImage" appDragNdrop (filesChangeEmiter)="onDropHandler($event)" 
	(filesInvalidEmiter)="onInvalidDropHandler($event)" >
		<img src="{{img_source}}">
	</div>

	<div *ngIf="!showImage" class="input-file is-fill-file" [ngClass]="{'have-alert': alert_message}">
		<a [href]="link_image"  class="link-file" target="_blank">
		<i class="fa fa-paperclip" aria-hidden="true"></i><span class="name-file">{{ file_name }}</span>
		</a>
		<label *ngIf="!disabled" [attr.for]="name_input" class="edit-button"><i class="fa fa-pencil" aria-hidden="true"></i></label>	
		<a (click)="onDeleteFileEmmit($event)" *ngIf="!disabled && canDelete" [attr.for]="name_input" class="delete-button"><i class="fa fa-times" aria-hidden="true"></i></a>	
		<div class="loader-file" [hidden]="!is_uploading">
			<span class="progress-bar" [style.width]="progress_upload + '%'"></span>
			<span class="progress-counter ">SUBIENDO ARCHIVO</span>
		</div>
	</div>
</div> -->

<span class="text-legal" *ngIf="alert_message">{{alert_message}}</span>