<iframe
	*ngIf="!failURL && track_id"
	style="border: 0; width: 100%; height: 42px;" 
	[src]="track_id | sanitizeUrl" 
	seamless></iframe>
<div class="callout alert" *ngIf="failURL">
	<span *ngIf="track_id">Link incorrecto.</span> <a href="assets/images/guia_audios.pdf" target="_blank">En la siguiente guía puedes ver como obtener un link correcto</a>.
</div>