<iframe 
	*ngIf="!failURL"
	[src]="link | sanitizeUrl" 
	width="100%" 
	height="80" 
	frameborder="0" 
	allowtransparency="true" 
	allow="encrypted-media">
</iframe>

<div class="callout alert" *ngIf="failURL">
	<span *ngIf="link">Link incorrecto.</span> <a href="assets/images/guia_audios.pdf" target="_blank">En la siguiente guía puedes ver como obtener un link correcto</a>.
</div>