footer{
	padding: 0.5rem 1rem;
	font-size: 0.8rem;

	.grid-x{
		.cell:last-child{
			text-align: right;
		}
	}
}

@media screen and (max-width: 39.9375em) {
	footer{
		.grid-x{
			.cell{
				text-align: center !important;
				line-height: 1.2;
				margin-bottom: 0.5rem;
			}
		}
	}
}