<footer class="section-footer">
	<div class="grid-x">
		<div class="cell small-12 medium-6">
			BOMM Bogotá Music Market Avenida El Dorado nro. 68D - 35. (+57) 1 383 0300 o (+57) 1 594 1000
		</div>
		<div class="cell small-12 medium-6">
			Cámara de Comercio de Bogotá © Todos los derechos reservados
		</div>
	</div>
</footer>
