h1, h2, h3, h4, h5, h6, 
label, p, strong, span{
	font-family: 'Roboto';
}

p{
    font-weight: 100;
    line-height: 1.3;
    font-family: 0.9rem;
}


.main-section{
	min-height: calc(100vh - 166px);
}


