.content-terminos{
	padding: 5rem 0 2rem;

	h1{
		text-align: center;
		font-size: 2.5rem;
	}
}

.wrapp-content{
	width: 100%;
	max-width: 700px;
	margin: 2rem auto;
}

.content-pdf-terminos{
	width: 100%;
	height: 500px;
	overflow: scroll;
	margin-bottom: 1rem;
}

.content-text-terminos{
	width: 100%;
	text-align: justify;
	line-height: 1.3;
	font-size: 0.9rem;
	border: 1px solid #9e9e9e;
	padding: 1rem;
	height: 500px;
	overflow: scroll;
	margin-bottom: 2rem;

}

.content-legal{
	max-width: 600px;
    margin: 0 auto;
}

.checkbox-input{

	margin-bottom: 0.5rem;

	& > div{
		display: inline-block;
		vertical-align: top;
	}

	.content-checkbox-input{
		width: 4%;
	}

	.content-checkbox-text{
		width: 90%;
		line-height: 1.2;
		font-size: 0.8rem;
		margin-top: 2px;
	}

	span{
		display: inline-block;
		background: #f7f7f7;
		width: 15px;
		height: 15px;
		border: 1px solid #cacaca;
		vertical-align: middle;
		margin-right: 5px;
		margin-top: -5px;
	}

	input{
		display: none;
	}

	input:checked ~ span{
		background: #333;

	}
}

.button{
	border-radius: 0;
    padding: 0.7rem;
    background: #30bb49;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Roboto';
    
}

.submit-form-content{
	margin-top: 1rem;

	.button{
		max-width: 300px;
		margin: 0 auto;
		display: block;
		width: 100%;
	}
}

.legal-text{
	font-weight: 100;
	font-style: italic;
	line-height: 1;
	display: block;
	font-size: 0.9rem;
	padding-left: 23px;
	margin-bottom: 1rem;
}