<div class="content-terminos">
	<h1>TÉRMINOS Y CONDICIONES</h1>

	<div class="wrapp-content">
		<div class="content-text-terminos">
			<p>Al diligenciar este formulario autoriza a La Cámara de Comercio de Bogotá - CCB, identificada con el NIT. 860.007.322-9, domiciliada y ubicada en Bogotá - Colombia en la Avenida el Dorado No. 68 D - 35, teléfono 3830330 y página web: www.ccb.org.co,  para que como responsable del tratamiento de datos personales los recolecte, almacene, use y circule para el Bogotá Music Market – BOmm: a) Realizar el registro como artista, agrupación o representante , b) Enviar comunicaciones e informar de los eventos o talleres, c) llevar el registro de acceso a los diferentes eventos o talleres, d) trasmitir la información de los artistas, música, videos, redes sociales etc., a los curadores para evaluar su posible participación en el BOmm, e) realizar el agendamiento con los compradores en caso de ser seleccionado por los curadores del BOmm para participar en las ruedas de negocios, f) divulgar el contenido artístico de las propuestas seleccionadas en las redes del BOmm, g) permitir el registro fotográfico y audiovisual durante los diferentes eventos del BOmm, con el fin de generar y publicar noticias, en los diferentes medios de comunicación, en nuestros portales y en redes sociales.  En todo caso, la CCB respetará los derechos de autoría y propiedad intelectual de las piezas utilizadas en material promocional o publicitario, sin que esto suponga retribución y/o compensación económica alguna, g) trasmitir los datos a los proveedores que apoyarán el evento, h) enviar encuestas para la generación de estadísticos del sector y e) Generar informes o estadísticas internas. Estas finalidades se podrán realizar a través de medios físicos, digitales, electrónicos o telefónicos. Usted podrá consultar el “Manual de Políticas y Procedimientos de Protección de Datos Personales” en www.ccb.org.co/protecciondedatospersonales. Para resolver dudas e inquietudes relacionadas con el tratamiento de los datos, presentar sus solicitudes y/o ejercer sus derechos puede escribirnos al correo protecciondedatos@ccb.org.co, o hacerlo en cualquiera de nuestras sedes, en cumplimiento con lo descrito en el Artículo 2.2.2.25.4.1 del Decreto 1074 de 2015. Así mismo, la CCB le informa que sus derechos como titular de datos personales son: (i) Acceder en forma gratuita a los datos proporcionados que hayan sido objeto de tratamiento. (ii) Conocer, actualizar y rectificar su información frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o a aquellos cuyo tratamiento esté prohibido o no haya sido autorizado. (iii) Solicitar prueba de la autorización otorgada. (iv) Presentar ante la Superintendencia de Industria y Comercio (SIC) quejas por infracciones a lo dispuesto en la normatividad vigente. (v) Revocar la autorización y/o solicitar la supresión del dato, siempre que no exista un deber legal o contractual que impida eliminarlos. (vi) Abstenerse de responder las preguntas sobre datos sensibles.</p>
		</div>

		<!--div class="content-pdf-terminos">
			 <pdf-viewer [src]="terminos_url" [zoom]="0.8" [render-text]="true" style="display: block;"></pdf-viewer>
		</div-->


		<form (ngSubmit)="f.valid && onSubmit()" #f="ngForm">
			<div class="content-legal">
				<div class="cell small-12 medium-8">
					<label class="checkbox-input">
						<div class="content-checkbox-input">
							<input 
								required 
								type="checkbox"
								name="tratamiento_datos"
								#tratamiento_datos='ngModel'
			  					[(ngModel)]="model.tratamiento_datos"
			  					>
							<span></span>
						</div>
						<div class="content-checkbox-text">ACEPTO EL TRATAMIENTO DE LOS DATOS SUMINISTRADOS POR MÍ EN CALIDAD DE ARTISTA, O MIEMBRO DE LA AGRUPACIÓN, O  REPRESENTANTE. 
						</div>
					</label>
					<span class="legal-text">Para revisar la política para protección de datos artistas BOmm 2018 <a (click)="openDialog()">haga clic aquí</a></span>
				</div>
				<div class="cell small-12 medium-8">
					<label class="checkbox-input">
						<div class="content-checkbox-input">
							<input 
								required 
								type="checkbox"
								name="terminos_condiciones"
								#terminos_condiciones='ngModel'
			  					[(ngModel)]="model.terminos_condiciones"
			  					>
							<span></span>
						</div>
						<div class="content-checkbox-text">ACEPTA LOS TÉRMINOS Y CONDICIONES DE LA CONVOCATORIA.</div>
					</label>
				</div>
			</div>

			<div class="callout alert" *ngIf="!f.valid && f.submitted">
				Debe aceptar los términos y condiciones y la política de protección de datos para continuar
			</div>

			<div class="submit-form-content">
				<div class="grid-x grid-padding-x ">
					<div class="cell"><button class="button">TERMINAR REGISTRO</button></div>
				</div>
			</div>
		</form>
	</div>
</div>