<img src="/images/header.png" alt="">

<p>Bienvenido <%= @email %>!</p>


<p>Tu cuenta ha sido registrada.</p>	
<p>Recuerda completar el formulario  antes del 1 de junio de 2018 para que nuestro equipo de curadores evalúe tu proyecto.
</p>

<!-- <p><!--%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p> -->
