<%=image_tag("images/header.png"%>

<p>Hola <%= @email %>!</p>

<p>Tu registro al BOmm 2018  ha sido exitoso.</p>
<p>Nuestro equipo de curadores evaluará tu proyecto. Recuerda estar atento a los resultados.</p>