<%=image_tag("images/header.png")%>

<p>Hola <%= @resource.email %>!</p>

<p>Haz <a href="http://artistas.bogotamusicmarket.co/confirmar_contrasena/<%=@token%>">click aquí</a> para reestablecer tu contraseña y diligenciar el formulario de inscripción al BOmm 2018.</p>

<p>Recuerda completar el formulario  antes del 1 de junio de 2018 para que nuestro equipo de curadores evalúe tu proyecto.</p>