<div class="content-form">
		<div class="grid-container">

			<div class="content-section-form">
				<div class="grid-x  text-center">
					<h1>REGISTRO</h1>
				</div>

				<div class="grid-x ">
					<div class="cell small-12 medium-4">
						<label class="label-image">
							<span>IMAGEN DEL GRUPO O ARTISTA</span>
							<span class="content-img">
								<img src="{{model.imagen}}" alt="">
							</span>
						</label>

					</div>
					<div class="cell small-12 medium-8">
						<div class="grid-x ">
							<div class="cell small-12 medium-12">
								<label>
									<span>INDÍCANOS EL NOMBRE ARTÍSTICO DEL SOLISTA O AGRUPACIÓN</span>
									{{model.name}}
								</label>
							</div>
							<div class="cell small-12 medium-6">
								<label>
									<span>TIPO DE PROPUESTA</span>
									{{model.propuesta_text}}
								</label>
							</div>
							<div class="cell small-12 medium-6">
								<label>
									<span>GENERO MUSICAL</span>
									{{model.genero_text}}
								</label>
							</div>
							<div class="cell small-12 medium-12">
								<label>
									<span>ESCRIBE UNA BREVE RESEÑA DE LA AGRUPACIÓN O ARTISTA (ESPAÑOL)</span>
									{{model.review_esp}}
								</label>
							</div>
							<div class="cell small-12 medium-12">
								<label>
									<span>ESCRIBE UNA BREVE RESEÑA DE LA AGRUPACIÓN O ARTISTA (INGLES)</span>
									{{model.review_eng}}
								</label>
							</div>
						</div>

					</div>
				</div>

				<div class="grid-x ">
					<div class="cell small-12 medium-8">
						<label>
							<span>INDÍCANOS EL NOMBRE DEL MANAGER</span>
							{{model.manager}}
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label>
							<span>SITIO WEB</span>
							{{model.social[0].link}}
						</label>
					</div>
				</div>
				<div class="grid-x ">
					<div class="cell small-12 medium-6">
						<label class="checkbox-input">
							<span>¿ACTUALMENTE ESTÁS RECIBIENDO SERVICIOS EMPRESARIALES DE LA CÁMARA DE COMERCIO PARA MEJORAR LA VIABILIDAD ECONÓMICA DE TU PROYECTO?</span>
							{{model.ccb_text}}
						</label>
					</div>
					<div class="cell small-12 medium-6">
						<label class="checkbox-input">
							<span>INDICA SI QUIERES QUE TU PROPUESTA SEA EVALUADA PARA PARTICIPAR EN LOS SHOWCASES</span>
							{{model.showcases_text}}
						</label>
					</div>
				</div>
			</div>


			<div class="content-section-form">
				<div class="grid-x  text-center">
					<h1>INSUMOS PARA EVALUACIÓN DEL PROYECTO</h1>
				</div>
				<div class="grid-x ">
					<div class="cell small-12 medium-4">
						<label>
							<span>RED SOCIAL</span>
							{{model.red1_text}}
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label>
							<span>URL</span>
							{{model.social[1].link}}
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label>
							<span>RED SOCIAL</span>
							{{model.red2_text}}
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label>
							<span>URL</span>
							{{model.social[2].link}}
						</label>
					</div>
				</div>

				<div class="grid-x ">
					<div class="cell small-12 medium-8">
						<label class="label-file">
							<span>PRESENTACIÓN (EPK)</span>
							{{model.pdf}}
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label>
							<span>¿CUANTO CUESTA UN SHOW EN VIVO? (USD)</span>
							{{model.cost_live_show}}
						</label>
					</div>
				</div>
			</div>


			<div class="content-section-form">
				<div class="grid-x  text-center">
					<div class="cell small-12 medium-12"><h1>ARCHIVOS DE AUDIO</h1></div>
				</div>
				<div class="grid-x ">
					<div class="cell small-12 medium-4">
						<label>
							<span>TIPO</span>
							{{model.audio1_text}}
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label>
							<span>URL</span>
							{{model.audio_video[0].link}}
						</label>
					</div>
				</div>

				<!-- <div class="grid-x ">
					<div class="cell small-12 medium-12">
						<label >
							<div class="embed-audio">
								PREVIEW DEL PLAYER EMBED
							</div>
						</label>
					</div>
				</div> -->

				<div class="grid-x ">
					<div class="cell small-12 medium-4">
						<label>
							<span>TIPO</span>
							{{model.audio1_text}}
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label>
							<span>URL</span>
							{{model.audio_video[1].link}}
						</label>
					</div>
				</div>

				<div class="grid-x ">
					<div class="cell small-12 medium-4">
						<label>
							<span>TIPO</span>
							{{model.audio1_text}}
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label>
							<span>URL</span>
							{{model.audio_video[2].link}}
						</label>
					</div>
				</div>
			</div>

			<div class="content-section-form">
				<div class="grid-x  text-center">
					<div class="cell small-12 medium-12"><h1>ARCHIVOS DE VIDEO</h1></div>
				</div>

				<div class="grid-x ">
					<div class="cell small-12 medium-4">
						<label>
							<div class="embed-video">PREVIEW DEL PLAYER EMBED</div>
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<div class="grid-x ">
							<div class="cell small-12 medium-4">
								<label>
									<span>TIPO</span>
									{{model.video1_text}}
								</label>
							</div>
							<div class="cell small-12 medium-8">
								<label>
									<span>URL</span>
									{{model.audio_video[3].link}}
								</label>
							</div>
						</div>
					</div>

				</div>

					<div class="grid-x ">
					<div class="cell small-12 medium-4">
						<label>
							<div class="embed-video">PREVIEW DEL PLAYER EMBED</div>
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<div class="grid-x ">
							<div class="cell small-12 medium-4">
								<label>
									<span>TIPO</span>
									{{model.video2_text}}
								</label>
							</div>
							<div class="cell small-12 medium-8">
								<label>
									<span>URL</span>
									{{model.audio_video[4].link}}
								</label>
							</div>
						</div>
					</div>

				</div>

					<div class="grid-x ">
					<div class="cell small-12 medium-4">
						<label>
							<div class="embed-video">PREVIEW DEL PLAYER EMBED</div>
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<div class="grid-x ">
							<div class="cell small-12 medium-4">
								<label>
									<span>TIPO</span>
									{{model.video3_text}}
								</label>
							</div>
							<div class="cell small-12 medium-8">
								<label>
									<span>URL</span>
									{{model.audio_video[5].link}}
								</label>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="content-section-form">
				<div class="grid-x  text-center">
					<h1>REPRESENTACIÓN EN EL BOMM</h1>
				</div>

				<div class="grid-x ">
					<div class="cell small-12 medium-6">
						<label >
							<span>PRIMER NOMBRE</span>
							{{model.first_name}}
						</label>
					</div>
					<div class="cell small-12 medium-6">
						<label >
							<span>SEGUNDO NOMBRE</span>
							{{model.second_name}}
						</label>
					</div>
					<div class="cell small-12 medium-6">
						<label >
							<span>PRIMER APELLIDO</span>
							{{model.last_name}}
						</label>
					</div>
					<div class="cell small-12 medium-6">
						<label>
							<span>SEGUNDO APELLIDO</span>
							{{model.second_surname}}
						</label>
					</div>
					<div class="cell small-12 medium-3">
						<label>
							<span>SEXO</span>
							{{model.sexo_text}}
						</label>
					</div>
					<div class="cell small-12 medium-3">
						<label>
							<span>TIPO DE DOCUMENTO</span>
							{{model.tdc_text}}
						</label>
					</div>
					<div class="cell small-12 medium-3">
						<label >
							<span>NÚMERO DE DOCUMENTO</span>
							{{model.document}}
						</label>
					</div>
					<div class="cell small-12 medium-3">
						<label>
							<span>FECHA DE NACIMIENTO</span>
							{{model.birth_date}}
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label>
							<span>PAIS DE NACIMIENTO</span>
							{{model.pais_text}}
						</label>
					</div>
					<div class="cell small-12 medium-4" *ngIf="model.country_id==38">
						<label>
							<span>DEPARTAMENTO</span>

						</label>
					</div>
							
					<div class="cell small-12 medium-4" *ngIf="model.country_id==38">
						<label>
							<span>CIUDAD</span>
							{{model.city_text}}
						</label>
					</div>
				
					<div class="cell small-12 medium-8" *ngIf="model.country_id!=38">
						<label >
							<span>CIUDAD</span>
							{{model.other_city}}
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label >
							<span>DIRECCIÓN</span>
							{{model.address}}
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label >
							<span>TELÉFONO FIJO</span>
							{{model.phone}}
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label >
							<span>TELÉFONO MOVIL</span>
							{{model.cell_phone}}
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label >
							<span>CORREO ELECTRÓNICO</span>
							{{model.email}}
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label >
							<span>CORREO ELECTRÓNICO ALTERNATIVO</span>
							{{model.email_opcional}}
						</label>
					</div>
					<div class="cell small-12 medium-12">
						<label>
							<span>NIVEL DE ESTUDIOS</span>
							{{model.nivel_text}}
						</label>
					</div>
				</div>

				<div class="grid-x ">
					<div class="cell small-12 medium-4">
						<label>
							<span>REPRESENTA UNA EMPRESA</span>
							{{model.represents_company_text}}
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label >
							<span>NOMBRE DE LA EMPRESA</span>
							{{model.name_comp}}
						</label>
					</div>
					<div class="cell small-12 medium-4">
						<label >
							<span>NIT</span>
							{{model.nit}}-{{model.cod_verification}}
						</label>
					</div>
					<div class="cell small-12 medium-8">
						<label >
							<span>CARGO</span>
							{{model.position}}
						</label>
					</div>
					<div class="cell small-12 medium-6">
						<label class="checkbox-input">
							<span>ACEPTA RECIBIR INFORMACIÓN POR MEDIO DE MENSAJES DE TEXTO</span>
							{{model.notificationtext_text}}
						</label>
					</div>
					<div class="cell small-12 medium-6">
						<label class="checkbox-input">
							<span>ACEPTA RECIBIR INFORMACIÓN POR MEDIO DE CORREO ELECTRÓNICO</span>
							{{model.notificationemail_text}}
						</label>
					</div>
				</div>
			</div>
			
			<div class="content-section-form submit-form-content">
				<div class="grid-x">
					<div class="cell"><a routerLink="/terminos" class="button">Finalizar Registro</a></div>
					<div class="cell"><a routerLink="/registro" class="button clear">Regresar</a></div>
					
					
				</div>
			</div>

		</div>
</div>
