.grid-x:not(.text-center){
	border-left: 1px solid;
	border-color: #afafaf;

	.grid-x{
		border: none;
	}
}

.text-center{
	border-bottom: 1px solid;
	border-color: #afafaf;
}

h1{
	font-size: 1.5rem;
	margin-top: 4rem;
}

label{
	border-bottom: 1px solid;
    border-right: 1px solid;
	font-size: 1rem;
	padding: 0.5rem;
	line-height: 1;
	padding-left: 1rem;
	min-height: 52px;
	border-color: #afafaf;

	span{
		display: block;
		font-weight: bold;
		font-size: 0.7rem;
		margin-left: -0.5rem;
		margin-bottom: 0.5rem;
	}
}

.label-image{
	height: 100%;
}

.button{
	border-radius: 0;
    padding: 0.7rem;
    background: #30bb49;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Roboto';
    
}

.button.clear{
	background: transparent;
	color: #333;
}

.submit-form-content{

	margin-top: 4rem;

	.grid-x{
		border: none;
	}

	.button{
		max-width: 300px;
		margin: 0 auto;
		display: block;
		width: 100%;
	}
}